.form__menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.form__group p {
  margin: 0;
  padding: 0;
}

.form__label {
  font-size: 16px;
  flex-shrink: 0;
  width: 80px;
  color: rgb(235, 216, 174);
}

.form__checkbox-label {
  color: rgb(235, 216, 174);
}

.form__input-container {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 200px;
  padding: 2px 5px;
}

.form__assistance-btn {
  align-self: center;
  height: 50px;
  width: 125px;
  background-color: #a82525;
  color: rgb(235, 216, 174);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.form__volunteer-btn {
  align-self: center;
  height: 50px;
  width: 125px;
  background-color: #56aeff;
  color: rgb(235, 216, 174);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.form__submit-btn_disabled {
  background-color: gray;
  cursor: default;
}

.form__submit-btn {
  margin-top: 15px;
  align-self: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form__submit-btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(0);
}

.form__submit-btn:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.form__error {
  color: red;
  font-size: 0.9rem;
  margin-left: 5px;
  margin-top: 4px;
  display: block;
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 472px) {
  .form__group {
    display: flex;
    flex-direction: column;
  }
  .form__label {
    white-space: nowrap;
  }
  .form__menu {
    gap: 5px;
  }
}
