.form__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.form__label {
  flex-shrink: 0;
  width: 80px;
  color: white;
}

.form__assistance-btn {
  align-self: center;
  margin-left: 88px;
  width: 125px;
  background-color: #a82525;
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
}

.form__volunteer-btn {
  align-self: center;
  margin-left: 88px;
  width: 100px;
  background-color: #56aeff;
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
}
