.header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.header__logo {
  width: 220px;
  height: 220px;
  margin: 0;
}

.header__title {
  color: rgb(235, 216, 174);
}

.header__title-cool {
  color: #56aeff;
}

.header__mission {
  background-color: rgba(235, 216, 174, 0.8);
  max-width: 500px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border-radius: 25px;
  text-align: center;
}

.header__loop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 643px) {
  .header__mission {
    max-width: 400px;
  }
}

@media (max-width: 470px) {
  .header__mission {
    max-width: 300px;
    font-size: 15px;
    padding: 15px;
  }
  .header__title {
    font-size: 30px;
  }
}

@media (max-width: 362px) {
  .header__title {
    /* font-size: 10px; */
  }
}

@media (max-width: 339px) {
  .header__mission {
    padding: 5px;
  }
  .header__title {
    text-align: center;
  }
}
