.header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
  overflow: hidden;
}

.header__logo {
  /* border-radius: 10px; */
  width: 220px;
  height: 220px;
  margin: 0;
}
.header__title {
  color: rgb(235, 216, 174);
}

.header__title-cool {
  color: #56aeff;
}
.header__mission {
  background-color: rgba(235, 216, 174, 0.8);
  max-width: 500px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border-radius: 25px;
}
/* .header__motto {
  color: white;
  background-color: #7d4533;
  margin-top: 40px;
  margin-bottom: 130px;
} */

.header__loop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
